****
## JSON Exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

# Start of code

## 1. Find the 10 countries with most projects

In [211]:
import pandas as pd
import json
from pandas.io.json import json_normalize
import numpy as np # Used later for np.nan

In [212]:
# load data
df = pd.read_json('C:\\Users\jlreg\Desktop\Projects\JSON_Data_Wrangling\data\world_bank_projects.json')
df.head(3) # Always call head for structure of table and name of col

,sector,supplementprojectflg,projectfinancialtype,prodline,mjtheme,idacommamt,impagency,project_name,mjthemecode,closingdate,...,majorsector_percent,board_approval_month,theme_namecode,countryname,url,source,projectstatusdisplay,ibrdcommamt,sector_namecode,_id
0,"[{'Name': 'Primary education'}, {'Name': 'Seco...",N,IDA,PE,[Human development],130000000,MINISTRY OF EDUCATION,Ethiopia General Education Quality Improvement...,"8,11",2018-07-07T00:00:00Z,...,"[{'Percent': 46, 'Name': 'Education'}, {'Perce...",November,"[{'code': '65', 'name': 'Education for all'}]",Federal Democratic Republic of Ethiopia,http://www.worldbank.org/projects/P129828/ethi...,IBRD,Active,0,"[{'code': 'EP', 'name': 'Primary education'}, ...",{'$oid': '52b213b38594d8a2be17c780'}
1,[{'Name': 'Public administration- Other social...,N,OTHER,RE,"[Economic management, Social protection and ri...",0,MINISTRY OF FINANCE,TN: DTF Social Protection Reforms Support,"1,6",NaN,...,"[{'Percent': 70, 'Name': 'Public Administratio...",November,"[{'code': '24', 'name': 'Other economic manage...",Republic of Tunisia,http://www.worldbank.org/projects/P144674?lang=en,IBRD,Active,0,"[{'code': 'BS', 'name': 'Public administration...",{'$oid': '52b213b38594d8a2be17c781'}
2,[{'Name': 'Rural and Inter-Urban Roads and Hig...,Y,IDA,PE,"[Trade and integration, Public sector governan...",6060000,MINISTRY OF TRANSPORT AND COMMUNICATIONS,Tuvalu Aviation Investment Project - Additiona...,"5,2,11,6",NaN,...,"[{'Percent': 100, 'Name': 'Transportation'}]",November,"[{'code': '47', 'name': 'Regional integration'...",Tuvalu,http://www.worldbank.org/projects/P145310?lang=en,IBRD,Active,0,"[{'code': 'TI', 'name': 'Rural and Inter-Urban...",{'$oid': '52b213b38594d8a2be17c782'}

In [213]:
df.info() # Checking contents of df

 # We have 500 rows of data, but some columns have missing, or null, data. We can proceed with analysis on 'countryname' col since it does not contain null values.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 50 columns):
sector                      500 non-null object
supplementprojectflg        498 non-null object
projectfinancialtype        500 non-null object
prodline                    500 non-null object
mjtheme                     491 non-null object
idacommamt                  500 non-null int64
impagency                   472 non-null object
project_name                500 non-null object
mjthemecode                 500 non-null object
closingdate                 370 non-null object
totalcommamt                500 non-null int64
id                          500 non-null object
mjsector_namecode           500 non-null object
docty                       446 non-null object
sector1                     500 non-null object
lendinginstr                495 non-null object
countrycode                 500 non-null object
sector2                     380 non-null object
totalamt                    500 non-null int64
mjtheme_namecode            500 non-null object
boardapprovaldate           500 non-null object
countryshortname            500 non-null object
sector4                     174 non-null object
prodlinetext                500 non-null object
productlinetype             500 non-null object
regionname                  500 non-null object
status                      500 non-null object
country_namecode            500 non-null object
envassesmentcategorycode    430 non-null object
project_abstract            362 non-null object
approvalfy                  500 non-null int64
projectdocs                 446 non-null object
lendprojectcost             500 non-null int64
lendinginstrtype            495 non-null object
theme1                      500 non-null object
grantamt                    500 non-null int64
themecode                   491 non-null object
borrower                    485 non-null object
sectorcode                  500 non-null object
sector3                     265 non-null object
majorsector_percent         500 non-null object
board_approval_month        500 non-null object
theme_namecode              491 non-null object
countryname                 500 non-null object
url                         500 non-null object
source                      500 non-null object
projectstatusdisplay        500 non-null object
ibrdcommamt                 500 non-null int64
sector_namecode             500 non-null object
_id                         500 non-null object
dtypes: int64(7), object(43)
memory usage: 195.4+ KB

In [214]:
countries = df.countryname.value_counts()
countries.head(10)

People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Nepal                              12
Kingdom of Morocco                 12
People's Republic of Bangladesh    12
Africa                             11
Republic of Mozambique             11
Name: countryname, dtype: int64

## 2. Find the top 10 major project themes (using column 'mjtheme_namecode')

In [215]:
# load json as string to use the json_normalize function
with open('C:\\Users\jlreg\Desktop\Projects\JSON_Data_Wrangling\data\world_bank_projects.json') as file:
    data = json.load(file)
data_norm = json_normalize(data,'mjtheme_namecode') #normalize file

df2 = pd.DataFrame(data_norm)
df2.head() 
# There are missing values in 'name' col

  code                                   name
0    8                      Human development
1   11
2    1                    Economic management
3    6  Social protection and risk management
4    5                  Trade and integration

In [216]:
themes = df2.name.value_counts()
themes.head(10)
# Here are the top 10 project themes, but the 'name' column is missing data

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

In [217]:
# 'name' column is missing data, but code column is ok
# Will need to fill in name with code to obtain accurate info
df2.groupby(['name','code']).size().sort_values(ascending=False)

name                                          code
Environment and natural resources management  11      223
Rural development                             10      202
Human development                             8       197
Public sector governance                      2       184
Social protection and risk management         6       158
Financial and private sector development      4       130
Social dev/gender/inclusion                   7       119
Trade and integration                         5        72
Urban development                             9        47
Economic management                           1        33
                                              11       27
                                              4        16
                                              2        15
                                              10       14
                                              8        13
Rule of law                                   3        12
                                              7        11
                                              6        10
                                              1         5
                                              5         5
                                              3         3
                                              9         3
dtype: int64

## 3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [218]:
with open('C:\\Users\jlreg\Desktop\Projects\JSON_Data_Wrangling\data\world_bank_projects.json') as f:
    d = json.load(f)
data_n = json_normalize(d,'mjtheme_namecode') #normalize file

df3 = pd.DataFrame(data_n)

In [219]:
name_dict = {}
for row in df3.itertuples():
    if row[2] != '':
        name_dict[row[1]] = row[2] #code is 1, name is 2
name_dict

{'8': 'Human development',
 '1': 'Economic management',
 '6': 'Social protection and risk management',
 '5': 'Trade and integration',
 '2': 'Public sector governance',
 '11': 'Environment and natural resources management',
 '7': 'Social dev/gender/inclusion',
 '4': 'Financial and private sector development',
 '10': 'Rural development',
 '9': 'Urban development',
 '3': 'Rule of law'}

In [232]:
for row in name_dict:
    df3.name[df3.code == row] = name_dict[row]
df3.name.value_counts()

Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Rule of law                                      15
Name: name, dtype: int64